
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(233, 212, 0);
}

.poll-container {
    background-color: rgb(114, 107, 8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    display: none;
}

.result p {
    font-size: 1.2em;
}



.head{
    background-image: url(banner.jpg);
    height: 70px;
    color: rgb(0, 0, 0);
    position: absolute;
}